<ion-header>

  <ion-navbar>
    <ion-title *ngIf="false">game</ion-title>
    <ion-title *ngIf="true">game1</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="!gameProvider.firstTimeFlag
    &&!groupProvider.firstTimeFlag
    &&!statusProvider.firstTimeFlag">
    <!--tableAllFetched-->

    <button *ngIf="(groupProvider.userGroupId==null||groupProvider.userGroupId=='')"
            ion-button block (click)="joinGroup()">Join Group
    </button>
    <div *ngIf="statusProvider.statusTableInfo.startTime!=null
    &&statusProvider.statusTableInfo.startTime!=''
    &&(statusProvider.statusTableInfo.endTime==null
    ||statusProvider.statusTableInfo.endTime=='')">
      <!--game master has started game, and in progress;-->
      <div *ngIf="(statusProvider.statusTableInfo.groups==null
    ||statusProvider.statusTableInfo.groups.length==0
    ||statusProvider.groupStatus==null)">
        <!--groupt not started-->
        <button ion-button *ngIf="groupProvider.groupLeaderFlag"
                block (click)="startGame()">Start Game
        </button>
        <ion-item
          *ngIf="!groupProvider.groupLeaderFlag">
          Wait for Group Leader to start game
        </ion-item>
      </div>
      <div *ngIf="(statusProvider.statusTableInfo.groups!=null
    &&statusProvider.statusTableInfo.groups.length!=0
    &&statusProvider.groupStatus!=null
    &&statusProvider.groupStatus.startTime!=null
    &&statusProvider.groupStatus.puzzles!=null)">
        <!--group started-->
        <div *ngFor="let puzzleId of statusProvider.puzzleStatusKeys">
          <!--group solved-->
          <ion-item *ngIf="!gameProvider.puzzleDetails[puzzleId].solved" (click)="puzzleSolve(puzzleId)">
            <p>{{gameProvider.puzzleDetails[puzzleId].title}}</p>
          </ion-item>
        </div>
      </div>
    </div>
  </div>
</ion-content>
