<ion-header>

  <ion-navbar>
    <ion-title *ngIf="false">game</ion-title>
    <ion-title *ngIf="true">game1</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button *ngIf="!groupProvider.firstTimeFlag
          &&(groupProvider.userGroupId==null||groupProvider.userGroupId=='')"
          ion-button block (click)="joinGroup()">Join Group
  </button>
  <div *ngIf="!gameProvider.firstTimeFlag
    &&!groupProvider.firstTimeFlag
    &&!statusProvider.firstTimeFlag
    &&statusProvider.statusTableInfo.startTime!=null
    &&statusProvider.statusTableInfo.startTime!=''
    &&(statusProvider.statusTableInfo.groups==null
    ||statusProvider.statusTableInfo.groups.length==0
    ||statusProvider.statusTableInfo.groups[groupProvider.userGroupId]==null)">
    <button ion-button *ngIf="groupProvider.groupLeaderFlag"
            block (click)="startGame()">Start Game
    </button>
    <ion-item
      *ngIf="!groupProvider.groupLeaderFlag">
      Wait for Group Leader to start game
    </ion-item>
  </div>
  <div *ngIf="!gameProvider.firstTimeFlag
    &&!groupProvider.firstTimeFlag
    &&!statusProvider.firstTimeFlag
    &&(statusProvider.statusTableInfo.groups!=null
    &&statusProvider.statusTableInfo.groups.length!=0
    &&statusProvider.statusTableInfo.groups[groupProvider.userGroupId]!=null
    &&statusProvider.statusTableInfo.groups[groupProvider.userGroupId].startTime!=null
    &&statusProvider.statusTableInfo.groups[groupProvider.userGroupId].puzzles!=null)">
    game
    <ion-item *ngFor="let puzzleId of statusProvider.puzzleStatusKeys">
      <!--*ngIf="statusProvider.puzzleInfo.solved==true"-->
      <ion-item>
        <p>{{gameProvider.puzzleDetails[puzzleId].title}}</p>
      </ion-item>

    </ion-item>
  </div>

</ion-content>
